@import '../../UI/theme.scss';

.actionsBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > button {
    flex-grow: 0;
    min-width: 0;
  }
}

.deleteButton {
  color: $font-color!important;
}

.editButton {
  color: $color-success!important;
}