$color-success: #2ecc71;
$color-warning: #f39c12;
$color-error: #e74c3c;
$color-info: #3498db;

$color-gray-light: #bdc3c7;
$color-gray-lighter: #ecf0f1;

$color-gray-dark: #7f8c8d;

$color-light: #ffffff;
$color-dark: #000000;

$font-color: #2c3e50;
